@media only screen and (max-width: 1800.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 25%;
    }
}

@media only screen and (max-width: 1550.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 20%;
    }
    .img img {
        width: 60%;
    }
}

@media only screen and (max-width: 1500.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 1200.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 15%;
    }
    .img img {
        width: 70%;
    }
    .dashboard-structure .left-side .nav-link {
        font-size: 15px;
    }
    .dashboard-structure .left-side {
        padding: 100px 0px 20px 10px;
    }
    .dashboard-structure .left-side {
        width: 250px;
        left: -250px;
    }
    .dashboard-structure .right-side {
        width: calc(100% - 290px);
    }
    .dashboard-structure .breadcrumb {
        height: auto;
    }
    .dashboard-structure .breadcrumb .buttons {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1199.5px) {
    .dashboard-structure .left-side.show {
        left: -250px;
    }
    .dashboard-structure .left-side {
        width: 250px;
        left: 0;
    }
    .dashboard-structure .right-side {
        width: 96%;
    }
    .dashboard-structure .right-side.active {
        width: calc(100% - 290px) !important;
    }
}

@media only screen and (max-width: 991.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 10%;
    }
    .img img {
        width: 80%;
    }
}

@media only screen and (max-width: 820.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 768.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        height: auto;
    }
    .sign-in .form-content {
        justify-content: flex-start;
        padding-top: 50px;
    }
    .img img {
        width: 70%;
    }
    .sign-in .form-content .span1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        height: auto;
    }
    .sign-in .form-content {
        justify-content: flex-start;
        padding-top: 50px;
    }
    .img img {
        width: 80%;
    }
}