@media only screen and (max-width: 1800.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 25%;
    }
}

@media only screen and (max-width: 1550.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 20%;
    }
    .img img {
        width: 60%;
    }
}

@media only screen and (max-width: 1500.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 1200.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 15%;
    }
    .img img {
        width: 70%;
    }
}

@media only screen and (max-width: 991.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 10%;
    }
    .img img {
        width: 80%;
    }
}

@media only screen and (max-width: 820.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 768.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        height: auto;
    }
    .sign-in .form-content {
        justify-content: flex-start;
        padding-top: 50px;
    }
    .img img {
        width: 70%;
    }
    .sign-in .form-content .span1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600.5px) {
    .register .form-content,
    .forgot-pass .form-content,
    .verify-email .form-content,
    .create-new-pass .form-content,
    .sign-in .form-content {
        height: auto;
    }
    .sign-in .form-content {
        justify-content: flex-start;
        padding-top: 50px;
    }
    .img img {
        width: 80%;
    }
}