// Sign In
.sign-in,
.forgot-pass,
.email-mess {
    height: 100vh;
    margin: auto 0;
    .container-fluid,
    .row {
        height: 100%;
    }
    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 450px 0 100px;
        h4 {
            font-size: 2.2rem;
            font-weight: 600;
        }
        .input-group-prepend .input-group-text::after {
            content: "";
            display: block;
            width: 1.5px;
            height: calc(100% - 8px);
            /* Adjust the height as needed */
            background-color: #000;
            /* Adjust the color as needed */
            margin: 3px 0 3px 10px;
            /* Adjust the margin to center the line vertically */
            height: 18px;
        }
        input {
            border-radius: 10px;
            // border: 1px solid #000;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            height: 55px;
            width: 20% !important;
        }
        .input-group-text {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            // border: 1px solid #000;
            height: 60px;
            background-color: white !important;
        }
        .form-control:focus {
            border: 1px solid #fff;
            box-shadow: none
        }
        p {
            color: #000;
        }
        i {
            color: #0CCC52;
            margin-top: -4px;
        }
        .remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            color: #000;
            font-weight: 700;
            .forgot {
                a {
                    font-size: 15px;
                    color: #000000;
                    text-decoration: none;
                    z-index: 2;
                    position: relative;
                    &:hover {
                        color: #000 !important;
                    }
                }
            }
        }
        .logo {
            width: 150px;
            text-align: left;
            margin-bottom: 50px;
        }
        a.btn {
            font-size: 17px;
            z-index: 2;
            &:focus {
                box-shadow: none;
            }
        }
        .span1 {
            font-size: 18px;
            margin-top: 20px;
            z-index: 2;
            a {
                color: #0070FF;
                &:hover {
                    color: #0070FF !important;
                }
            }
        }
    }
}

.register {
    height: 100vh;
    margin: auto 0;
    .container-fluid,
    .row {
        height: 100%;
    }
    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 450px 0 100px;
        h4 {
            font-size: 2.2rem;
            font-weight: 600;
        }
        .input-group-prepend .input-group-text::after {
            content: "";
            display: block;
            width: 1.5px;
            height: calc(100% - 8px);
            /* Adjust the height as needed */
            background-color: #000;
            /* Adjust the color as needed */
            margin: 3px 0 3px 10px;
            /* Adjust the margin to center the line vertically */
            height: 18px;
        }
        input {
            border-radius: 10px;
            // border: 1px solid #000;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"] {
            height: 55px;
            width: 20% !important;
        }
        .input-group-text {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            // border: 1px solid #000;
            height: 60px;
            background-color: white !important;
        }
        .form-control:focus {
            border: 1px solid #fff;
            box-shadow: none
        }
        p {
            color: #000;
        }
        i {
            color: #0CCC52;
            margin-top: -4px;
        }
        .remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            color: #000;
            font-weight: 700;
            padding: 15px 0;
            .forgot {
                a {
                    font-size: 15px;
                    color: #000000;
                    text-decoration: none;
                    z-index: 2;
                    position: relative;
                    &:hover {
                        color: #000 !important;
                    }
                }
            }
        }
        .logo {
            width: 150px;
            text-align: left;
            margin-bottom: 50px;
        }
        a.btn {
            font-size: 17px;
            z-index: 2;
            &:focus {
                box-shadow: none;
            }
        }
        .span1 {
            font-size: 18px;
            margin-top: 20px;
            z-index: 2;
            a {
                color: #0070FF;
                &:hover {
                    color: #0070FF !important;
                }
            }
        }
    }
}

.verify-email {
    height: 100vh;
    margin: auto 0;
    .container-fluid,
    .row {
        height: 100%;
    }
    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 450px 0 100px;
        h4 {
            font-size: 2.2rem;
            font-weight: 600;
        }
        .input-group-prepend .input-group-text::after {
            content: "";
            display: block;
            width: 1.5px;
            height: calc(100% - 8px);
            /* Adjust the height as needed */
            background-color: #000;
            /* Adjust the color as needed */
            margin: 3px 0 3px 10px;
            /* Adjust the margin to center the line vertically */
            height: 18px;
        }
        input {
            border-radius: 10px;
            // border: 1px solid #000;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"] {
            height: 55px;
            width: 20% !important;
        }
        .input-group-text {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            // border: 1px solid #000;
            height: 60px;
            background-color: white !important;
        }
        .form-control:focus {
            border: 1px solid #fff;
            box-shadow: none
        }
        p {
            color: #000;
        }
        i {
            color: #0CCC52;
            margin-top: -4px;
        }
        .remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            color: #000;
            font-weight: 700;
            padding: 15px 0;
            .forgot {
                a {
                    font-size: 15px;
                    color: #000000;
                    text-decoration: none;
                    z-index: 2;
                    position: relative;
                    &:hover {
                        color: #000 !important;
                    }
                }
            }
        }
        .logo {
            width: 150px;
            text-align: left;
            margin-bottom: 50px;
        }
        a.btn {
            font-size: 17px;
            z-index: 2;
            &:focus {
                box-shadow: none;
            }
        }
        .span1 {
            font-size: 18px;
            margin-top: 20px;
            z-index: 2;
            a {
                color: #0070FF;
                &:hover {
                    color: #0070FF !important;
                }
            }
        }
    }
    .six-input {
        z-index: 2;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        input {
            width: 30px !important;
            height: 50px !important;
            border: none !important;
        }
        .dash {
            font-size: 50px;
        }
    }
}