.sign-in,
.forgot-pass,
.email-mess {
  height: 100vh;
  margin: auto 0;
}

.sign-in .container-fluid,
.sign-in .row,
.forgot-pass .container-fluid,
.forgot-pass .row,
.email-mess .container-fluid,
.email-mess .row {
  height: 100%;
}

.sign-in .form-content,
.forgot-pass .form-content,
.email-mess .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 0 450px 0 100px;
}

.sign-in .form-content h4,
.forgot-pass .form-content h4,
.email-mess .form-content h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

.sign-in .form-content .input-group-prepend .input-group-text::after,
.forgot-pass .form-content .input-group-prepend .input-group-text::after,
.email-mess .form-content .input-group-prepend .input-group-text::after {
  content: "";
  display: block;
  width: 1.5px;
  height: calc(100% - 8px);
  /* Adjust the height as needed */
  background-color: #000;
  /* Adjust the color as needed */
  margin: 3px 0 3px 10px;
  /* Adjust the margin to center the line vertically */
  height: 18px;
}

.sign-in .form-content input,
.forgot-pass .form-content input,
.email-mess .form-content input {
  border-radius: 10px;
}

.sign-in .form-content input[type="text"],
.sign-in .form-content input[type="password"],
.sign-in .form-content input[type="email"],
.forgot-pass .form-content input[type="text"],
.forgot-pass .form-content input[type="password"],
.forgot-pass .form-content input[type="email"],
.email-mess .form-content input[type="text"],
.email-mess .form-content input[type="password"],
.email-mess .form-content input[type="email"] {
  height: 55px;
  width: 20% !important;
}

.sign-in .form-content .input-group-text,
.forgot-pass .form-content .input-group-text,
.email-mess .form-content .input-group-text {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 60px;
  background-color: white !important;
}

.sign-in .form-content .form-control:focus,
.forgot-pass .form-content .form-control:focus,
.email-mess .form-content .form-control:focus {
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-in .form-content p,
.forgot-pass .form-content p,
.email-mess .form-content p {
  color: #000;
}

.sign-in .form-content i,
.forgot-pass .form-content i,
.email-mess .form-content i {
  color: #0CCC52;
  margin-top: -4px;
}

.sign-in .form-content .remember-forgot,
.forgot-pass .form-content .remember-forgot,
.email-mess .form-content .remember-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #000;
  font-weight: 700;
}

.sign-in .form-content .remember-forgot .forgot a,
.forgot-pass .form-content .remember-forgot .forgot a,
.email-mess .form-content .remember-forgot .forgot a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.sign-in .form-content .remember-forgot .forgot a:hover,
.forgot-pass .form-content .remember-forgot .forgot a:hover,
.email-mess .form-content .remember-forgot .forgot a:hover {
  color: #000 !important;
}

.sign-in .form-content .logo,
.forgot-pass .form-content .logo,
.email-mess .form-content .logo {
  width: 150px;
  text-align: left;
  margin-bottom: 50px;
}

.sign-in .form-content a.btn,
.forgot-pass .form-content a.btn,
.email-mess .form-content a.btn {
  font-size: 17px;
  z-index: 2;
}

.sign-in .form-content a.btn:focus,
.forgot-pass .form-content a.btn:focus,
.email-mess .form-content a.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-in .form-content .span1,
.forgot-pass .form-content .span1,
.email-mess .form-content .span1 {
  font-size: 18px;
  margin-top: 20px;
  z-index: 2;
}

.sign-in .form-content .span1 a,
.forgot-pass .form-content .span1 a,
.email-mess .form-content .span1 a {
  color: #0070FF;
}

.sign-in .form-content .span1 a:hover,
.forgot-pass .form-content .span1 a:hover,
.email-mess .form-content .span1 a:hover {
  color: #0070FF !important;
}

.register {
  height: 100vh;
  margin: auto 0;
}

.register .container-fluid,
.register .row {
  height: 100%;
}

.register .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 0 450px 0 100px;
}

.register .form-content h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

.register .form-content .input-group-prepend .input-group-text::after {
  content: "";
  display: block;
  width: 1.5px;
  height: calc(100% - 8px);
  /* Adjust the height as needed */
  background-color: #000;
  /* Adjust the color as needed */
  margin: 3px 0 3px 10px;
  /* Adjust the margin to center the line vertically */
  height: 18px;
}

.register .form-content input {
  border-radius: 10px;
}

.register .form-content input[type="text"],
.register .form-content input[type="password"],
.register .form-content input[type="email"],
.register .form-content input[type="tel"] {
  height: 55px;
  width: 20% !important;
}

.register .form-content .input-group-text {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 60px;
  background-color: white !important;
}

.register .form-content .form-control:focus {
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register .form-content p {
  color: #000;
}

.register .form-content i {
  color: #0CCC52;
  margin-top: -4px;
}

.register .form-content .remember-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #000;
  font-weight: 700;
  padding: 15px 0;
}

.register .form-content .remember-forgot .forgot a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.register .form-content .remember-forgot .forgot a:hover {
  color: #000 !important;
}

.register .form-content .logo {
  width: 150px;
  text-align: left;
  margin-bottom: 50px;
}

.register .form-content a.btn {
  font-size: 17px;
  z-index: 2;
}

.register .form-content a.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register .form-content .span1 {
  font-size: 18px;
  margin-top: 20px;
  z-index: 2;
}

.register .form-content .span1 a {
  color: #0070FF;
}

.register .form-content .span1 a:hover {
  color: #0070FF !important;
}

.verify-email {
  height: 100vh;
  margin: auto 0;
}

.verify-email .container-fluid,
.verify-email .row {
  height: 100%;
}

.verify-email .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 0 450px 0 100px;
}

.verify-email .form-content h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

.verify-email .form-content .input-group-prepend .input-group-text::after {
  content: "";
  display: block;
  width: 1.5px;
  height: calc(100% - 8px);
  /* Adjust the height as needed */
  background-color: #000;
  /* Adjust the color as needed */
  margin: 3px 0 3px 10px;
  /* Adjust the margin to center the line vertically */
  height: 18px;
}

.verify-email .form-content input {
  border-radius: 10px;
}

.verify-email .form-content input[type="text"],
.verify-email .form-content input[type="password"],
.verify-email .form-content input[type="email"],
.verify-email .form-content input[type="tel"] {
  height: 55px;
  width: 20% !important;
}

.verify-email .form-content .input-group-text {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 60px;
  background-color: white !important;
}

.verify-email .form-content .form-control:focus {
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.verify-email .form-content p {
  color: #000;
}

.verify-email .form-content i {
  color: #0CCC52;
  margin-top: -4px;
}

.verify-email .form-content .remember-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #000;
  font-weight: 700;
  padding: 15px 0;
}

.verify-email .form-content .remember-forgot .forgot a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.verify-email .form-content .remember-forgot .forgot a:hover {
  color: #000 !important;
}

.verify-email .form-content .logo {
  width: 150px;
  text-align: left;
  margin-bottom: 50px;
}

.verify-email .form-content a.btn {
  font-size: 17px;
  z-index: 2;
}

.verify-email .form-content a.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.verify-email .form-content .span1 {
  font-size: 18px;
  margin-top: 20px;
  z-index: 2;
}

.verify-email .form-content .span1 a {
  color: #0070FF;
}

.verify-email .form-content .span1 a:hover {
  color: #0070FF !important;
}

.verify-email .six-input {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verify-email .six-input input {
  width: 30px !important;
  height: 50px !important;
  border: none !important;
}

.verify-email .six-input .dash {
  font-size: 50px;
}

.verify-email .empty-field {
  border-color: red !important;
}
/*# sourceMappingURL=style.css.map */